In [178]:
#pip install tensorflow

In [179]:
import tensorflow as tf
print(tf.__version__)

2.17.0

In [180]:
#pip install tensorboard

In [181]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder
import pickle

In [182]:
ls

 Volume in drive E is DATA 2
 Volume Serial Number is F899-B8CB

 Directory of e:\Python - Intellipaat_D\Gen AI\Simple ANN

09-10-2024  21:55    <DIR>          .
09-10-2024  21:55    <DIR>          ..
09-10-2024  20:23    <DIR>          annclassification
08-10-2024  22:30           327,157 annclassification.zip
09-10-2024  21:56             2,384 app.py
27-09-2019  12:59           684,858 Churn_Modelling.csv
09-10-2024  20:39               258 label_encoder_gender.pkl
09-10-2024  15:18    <DIR>          log
09-10-2024  21:55           181,256 model.h5
09-10-2024  20:39               608 one_hot_encoder_gro.pkl
09-10-2024  20:51            14,549 prediction.ipynb
09-10-2024  21:33                83 requirements.txt
09-10-2024  21:36            45,104 Simple_ANN.ipynb
08-10-2024  22:26                 0 simple_Ann.py
09-10-2024  20:39               992 standard_scaler.pkl
              11 File(s)      1,257,249 bytes
               4 Dir(s)  27,045,728,256 bytes free

In [183]:
data = pd.read_csv("Churn_Modelling.csv")
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [184]:
data_1 = data.drop(["RowNumber", "CustomerId", "Surname"], axis = 1)
data_1.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

In [185]:
data_1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 11 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   CreditScore      10000 non-null  int64
 1   Geography        10000 non-null  object
 2   Gender           10000 non-null  object
 3   Age              10000 non-null  int64
 4   Tenure           10000 non-null  int64
 5   Balance          10000 non-null  float64
 6   NumOfProducts    10000 non-null  int64
 7   HasCrCard        10000 non-null  int64
 8   IsActiveMember   10000 non-null  int64
 9   EstimatedSalary  10000 non-null  float64
 10  Exited           10000 non-null  int64
dtypes: float64(2), int64(7), object(2)
memory usage: 859.5+ KB

In [186]:
## Encode Categorical Variable

le = LabelEncoder()
data_1["Gender"] = le.fit_transform(data_1["Gender"])
data_1.head()

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,619,France,0,42,2,0.00,1,1,1,101348.88,1
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58,0
2,502,France,0,42,8,159660.80,3,1,0,113931.57,1
3,699,France,0,39,1,0.00,2,0,0,93826.63,0
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10,0

In [187]:
le.classes_

array(['Female', 'Male'], dtype=object)

In [188]:
data_1["Gender"].value_counts()

Gender
1    5457
0    4543
Name: count, dtype: int64

In [189]:
data_1["Geography"].value_counts()

Geography
France     5014
Germany    2509
Spain      2477
Name: count, dtype: int64

In [190]:
from sklearn.preprocessing import OneHotEncoder

ohe_geo = OneHotEncoder()
geo_encoder = ohe_geo.fit_transform(data_1[["Geography"]])
geo_encoder

<10000x3 sparse matrix of type '<class 'numpy.float64'>'
	with 10000 stored elements in Compressed Sparse Row format>

In [191]:
ohe_geo.categories_[0]

array(['France', 'Germany', 'Spain'], dtype=object)

In [192]:
geo_encoder.toarray()

array([[1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       ...,
       [1., 0., 0.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [193]:
ohe_geo.get_feature_names_out(["Geography"])

array(['Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)

In [194]:
geo_encoder_df = pd.DataFrame(geo_encoder.toarray(), columns=ohe_geo.get_feature_names_out(["Geography"]))
geo_encoder_df

      Geography_France  Geography_Germany  Geography_Spain
0                  1.0                0.0              0.0
1                  0.0                0.0              1.0
2                  1.0                0.0              0.0
3                  1.0                0.0              0.0
4                  0.0                0.0              1.0
...                ...                ...              ...
9995               1.0                0.0              0.0
9996               1.0                0.0              0.0
9997               1.0                0.0              0.0
9998               0.0                1.0              0.0
9999               1.0                0.0              0.0

[10000 rows x 3 columns]

In [195]:
data_1 = pd.concat([data_1.drop("Geography", axis =1), geo_encoder_df], axis = 1 )
data_1.head()

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited,Geography_France,Geography_Germany,Geography_Spain
0,619,0,42,2,0.00,1,1,1,101348.88,1,1.0,0.0,0.0
1,608,0,41,1,83807.86,1,0,1,112542.58,0,0.0,0.0,1.0
2,502,0,42,8,159660.80,3,1,0,113931.57,1,1.0,0.0,0.0
3,699,0,39,1,0.00,2,0,0,93826.63,0,1.0,0.0,0.0
4,850,0,43,2,125510.82,1,1,1,79084.10,0,0.0,0.0,1.0

In [196]:
data.columns

Index(['RowNumber', 'CustomerId', 'Surname', 'CreditScore', 'Geography',
       'Gender', 'Age', 'Tenure', 'Balance', 'NumOfProducts', 'HasCrCard',
       'IsActiveMember', 'EstimatedSalary', 'Exited'],
      dtype='object')

In [197]:
### Save the encoders and Sscaler
with open("label_encoder_gender.pkl", "wb") as file:
    pickle.dump(le,file)

with open("one_hot_encoder_gro.pkl", "wb") as file:
    pickle.dump(ohe_geo, file)

In [198]:
### Divide the dataset into independent and dependent
X = data_1.drop("Exited", axis = 1)
y = data_1["Exited"]

## Splitting the data into training and testing data

x_train, x_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 42)

## Sclae these feature

scaler = StandardScaler()
x_train_scaled = scaler.fit_transform(x_train)
x_test_scaled = scaler.transform(x_test)

In [199]:
x_test_scaled

array([[-0.57749609,  0.91324755, -0.6557859 , ..., -0.99850112,
         1.72572313, -0.57638802],
       [-0.29729735,  0.91324755,  0.3900109 , ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.52560743, -1.09499335,  0.48508334, ..., -0.99850112,
        -0.57946723,  1.73494238],
       ...,
       [ 0.81311987, -1.09499335,  0.77030065, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [ 0.41876609,  0.91324755, -0.94100321, ...,  1.00150113,
        -0.57946723, -0.57638802],
       [-0.24540869,  0.91324755,  0.00972116, ..., -0.99850112,
         1.72572313, -0.57638802]])

In [200]:
with open("standard_scaler.pkl", "wb") as file:
    pickle.dump(scaler, file)

#### ANN Implementaion

In [201]:
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.callbacks import EarlyStopping, TensorBoard
import datetime

In [202]:
input_shape = x_train.shape[1],
input_shape

(12,)

In [203]:
## model building

model = keras.Sequential([
    keras.layers.Dense(128, activation = "relu", input_shape = (x_train.shape[1],)), ### HL1 connected with input layer
    keras.layers.Dense(64, activation = "relu"),
    keras.layers.Dense(32, activation = "relu"),
    keras.layers.Dense(1, activation = "sigmoid") ## output
])

e:\Python - Intellipaat_D\Gen AI\venv\Lib\site-packages\keras\src\layers\core\dense.py:87: UserWarning: Do not pass an `input_shape`/`input_dim` argument to a layer. When using Sequential models, prefer using an `Input(shape)` object as the first layer in the model instead.
  super().__init__(activity_regularizer=activity_regularizer, **kwargs)

In [204]:
opt = keras.optimizers.Adam(learning_rate = 0.01)
loss = keras.losses.BinaryCrossentropy()

In [205]:
## complie the model
model.compile(
    optimizer = opt,
    loss = loss,
    metrics = ["accuracy"]
)

In [206]:
## Setup the Tensorboard
log_dir = "log/fit/" + datetime.datetime.now().strftime("%Y%m%d-%H%M%S")

## Create callbacks
tensorflow_callbacks = TensorBoard(log_dir = log_dir, histogram_freq = 1)
early_stp = EarlyStopping(monitor = "val_loss", patience = 10, restore_best_weights = True)

In [207]:
history = model.fit(x_train_scaled, y_train, 
                    validation_data = (x_test_scaled, y_test), 
                    epochs = 100, 
                    callbacks = [tensorflow_callbacks, early_stp]
                    )

Epoch 1/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 4s 6ms/step - accuracy: 0.8130 - loss: 0.4370 - val_accuracy: 0.8560 - val_loss: 0.3539
Epoch 2/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8498 - loss: 0.3715 - val_accuracy: 0.8545 - val_loss: 0.3484
Epoch 3/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8569 - loss: 0.3463 - val_accuracy: 0.8615 - val_loss: 0.3443
Epoch 4/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 5ms/step - accuracy: 0.8670 - loss: 0.3316 - val_accuracy: 0.8570 - val_loss: 0.3530
Epoch 5/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8595 - loss: 0.3415 - val_accuracy: 0.8355 - val_loss: 0.3694
Epoch 6/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8570 - loss: 0.3453 - val_accuracy: 0.8600 - val_loss: 0.3448
Epoch 7/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8582 - loss: 0.3395 - val_accuracy: 0.8580 - val_loss: 0.3535
Epoch 8/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8624 - loss: 0.3329 - val_accuracy: 0.8535 - val_loss: 0.3674
Epoch 9/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8641 - loss: 0.3370 - val_accuracy: 0.8515 - val_loss: 0.3666
Epoch 10/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8654 - loss: 0.3265 - val_accuracy: 0.8535 - val_loss: 0.3589
Epoch 11/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8680 - loss: 0.3258 - val_accuracy: 0.8580 - val_loss: 0.3509
Epoch 12/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.8775 - loss: 0.3109 - val_accuracy: 0.8575 - val_loss: 0.3621
Epoch 13/100
250/250 ━━━━━━━━━━━━━━━━━━━━ 1s 3ms/step - accuracy: 0.8673 - loss: 0.3248 - val_accuracy: 0.8530 - val_loss: 0.3602

In [208]:
path = r"E:\Python - Intellipaat_D\Gen AI\Simple ANN"

In [209]:
model.save(r"E:\Python - Intellipaat_D\Gen AI\Simple ANN\model.h5")

WARNING:absl:You are saving your model as an HDF5 file via `model.save()` or `keras.saving.save_model(model)`. This file format is considered legacy. We recommend using instead the native Keras format, e.g. `model.save('my_model.keras')` or `keras.saving.save_model(model, 'my_model.keras')`.

In [210]:
### Load Tensorboard Extension
%load_ext tensorboard

The tensorboard extension is already loaded. To reload it, use:
  %reload_ext tensorboard

In [211]:
%tensorboard --logdir log/fit

Reusing TensorBoard on port 6012 (pid 15340), started 6:37:04 ago. (Use '!kill 15340' to kill it.)

In [212]:
### Load the pickle file